@charset "utf-8";
/*@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);*/
 @charset "utf-8";
/*@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);*/
@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: 100;
    src: local('Noto Sans Thin'), local('NotoSans-Thin'),
    url(/css/font/NotoSansKR-Thin-Hestia.eot),
    url(/css/font/NotoSansKR-Thin-Hestia.eot?#iefix) format('embedded-opentype'),
    url(/css/font/NotoSansKR-Thin-Hestia.woff) format('woff'),
    url(/css/font/NotoSansKR-Thin-Hestia.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: 200;
    src: local('Noto Sans Light'), local('NotoSans-Light'),
    url(/css/font/NotoSansKR-Light-Hestia.eot),
    url(/css/font/NotoSansKR-Light-Hestia.eot?#iefix) format('embedded-opentype'),
    url(/css/font/NotoSansKR-Light-Hestia.woff) format('woff'),
    url(/css/font/NotoSansKR-Light-Hestia.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: 400;
    src: local('Noto Sans DemiLight'), local('NotoSans-DemiLight'),
    url(/css/font/NotoSansKR-DemiLight-Hestia.eot),
    url(/css/font/NotoSansKR-DemiLight-Hestia.eot?#iefix) format('embedded-opentype'),
    url(/css/font/NotoSansKR-DemiLight-Hestia.woff) format('woff'),
    url(/css/font/NotoSansKR-DemiLight-Hestia.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: 500;
    src: local('Noto Sans Regular'), local('NotoSans-Regular'),
    url(/css/font/NotoSansKR-Regular-Hestia.eot),
    url(/css/font/NotoSansKR-Regular-Hestia.eot?#iefix) format('embedded-opentype'),
    url(/css/font/NotoSansKR-Regular-Hestia.woff) format('woff'),
    url(/css/font/NotoSansKR-Regular-Hestia.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: 600;
    src: local('Noto Sans Medium'), local('NotoSans-Medium'),
    url(/css/font/NotoSansKR-Medium-Hestia.eot),
    url(/css/font/NotoSansKR-Medium-Hestia.eot?#iefix) format('embedded-opentype'),
    url(/css/font/NotoSansKR-Medium-Hestia.woff) format('woff'),
    url(/css/font/NotoSansKR-Medium-Hestia.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: 700;
    src: local('Noto Sans Bold'), local('NotoSans-Bold'),
    url(/css/font/NotoSansKR-Bold-Hestia.eot),
    url(/css/font/NotoSansKR-Bold-Hestia.eot?#iefix) format('embedded-opentype'),
    url(/css/font/NotoSansKR-Bold-Hestia.woff) format('woff'),
    url(/css/font/NotoSansKR-Bold-Hestia.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;

    font-weight: 900;
    src: local('Noto Sans Black'), local('NotoSans-Black'),
    url(/css/font/NotoSansKR-Black-Hestia.eot),
    url(/css/font/NotoSansKR-Black-Hestia.eot?#iefix) format('embedded-opentype'),
    url(/css/font/NotoSansKR-Black-Hestia.woff) format('woff'),
    url(/css/font/NotoSansKR-Black-Hestia.otf) format('opentype');
}

html,body,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,address,big,cite,code,del,dfn,em,font,img,ins,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,ul,ol,li,dl,dt,dd,table,caption,tbody,tfoot,thead,tr,th,td,fieldset,fo7m,label,legend,input,button,textarea,select{margin:0;padding:0}
header,footer,section,article,aside,nav,hgroup,details,menu,figure,figcaption{display:block;margin:0;padding:0}
legend{display:block;overflow:hidden;position:absolute;width:1px;height:1px;font-size:1px;line-height:0;text-indent:-999em;white-space:nowrap; }
fieldset,img,table,caption,tbody,tfoot,thead,tr,th,td,button,hr{border:0 none}
img{vertical-align:middle}
body li{*vertical-align:top}
ul li{list-style:none; padding:0; margin:0;}
table{border-collapse:collapse}
caption{visibility:hidden;overflow:hidden;width:0;height:0;font-size:0;line-height:0;}
button{overflow:visible;border:0 none;cursor:pointer}
button::-moz-focus-inner,input[type="button"]::-moz-focus-inner,input[type="submit"]::-moz-focus-inner,input[type="reset"]::-moz-focus-inner {padding: 0;border: 0 none}
a { text-decoration:none; color:#464646;  }
address,
em { font-style:normal }
body,input,select,textarea,a,button,h1,h2,h3,h4,h5,h6 { font-family:'Noto Sans Korean', '맑은고딕', sans-serif; font-size:14px; color: #444; font-weight: 400;text-decoration: none; }
a:hover { text-decoration: none;}

body{margin: 0;padding:0; background-color: #f6f6f6; }
.header_wrap{padding: 10px; background-color: #1e7aff; color: #fff;}
.header_cell{display: inline-block;}

.content_wrap{padding: 40px;}



.footer_wrap{padding: 40px;}


.cell{display: block; widows: 100%;}